<div data-role="view" id="banknotes-view" data-id="banknotes-view"
     data-layout="main-layout" data-title="Банкнота"
     data-show="app.banknotes.init">
    <div id="banknote-options-holder">
       <ul>
        <li>
            <a data-role="button" data-bind="events: {click: getTopTen}">Топ 10 регистрирани</a>
        </li>
        <li>
            <a data-role="button" data-bind="events: {click: getAll}">Всички регистрирани</a>
        </li>
        <li>
            <a data-role="button" href="views/new-track-view.html#ideas-view">Остави твоята следа</a>
        </li>
    </ul>
        <ul id="custom-banknote-listview" data-style="inset"></ul>
    </div>
</div>
    <script type="text/x-kendo-tmpl" id="banknote-list-template">
        <div class="banknote">
            <h3 style="color:blue;">#:Letters# #:SerialNumber#</h3>
            <ul>
        	    #for(var track in Tracks){
        if(Tracks[track].Message != undefined){#
                        <li>Следа:#: Tracks[track].Message #</li>
                #}}#
            </ul> 
        </div>
    </script>

