<div data-role="view" id="ideas-view" data-id="ideas-view"
     data-layout="main-layout" data-title="Идеи">
    <h2 style="color:blue;">Идеи</h2>
    <ul>
        <li>Дай банкнота на уличен музикант</li>
        <li>Закачи банкнота на балон с хелий</li>
        <li>Остави банкнотата в книга в библиотеката</li>
        <li>Зарови банкнота на плажа</li>
        <li>Остави банкнота на планински връх</li>
        <li>Пусни банкнотата в бутилка по реката</p></li>
    </ul>
            
            <a data-role="button" href="views/more-view.html#more-view">Назад</a>
</div>